@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-base: #111111;
		--color-text: #f2f2f2;
		--color-nav-bg: #333;
	}
}

@font-face {
	font-family: "Inter var";
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: "Regular";
	src: url("../fonts/Inter.var.woff2") format("woff2");
}
