:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: "Inter var";
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: "Regular";
	src: url("../fonts/Inter.var.woff2") format("woff2");
}

.kbar-positioner {
	background-color: rgba(0 0 0 / 0.33);
}
